certifi==2026.2.25
charset-normalizer==3.4.6
idna==3.11
isodate==0.7.2
linkify-it-py==2.1.0
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
mpegdash==0.4.1
platformdirs==4.9.4
pyaes==1.6.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
ratelimit==2.2.1
requests==2.32.5
rich==14.3.3
six==1.17.0
textual==8.1.1
tidalapi==0.8.11
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
