appnope==0.1.4
asttokens==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.7
comm==0.2.3
debugpy==1.8.19
decorator==5.2.1
executing==2.2.1
idna==3.11
ipykernel==7.1.0
ipython==9.9.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jupyter-client==8.8.0
jupyter-core==5.9.1
linkify-it-py==2.1.0
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
nest-asyncio==1.6.0
numpy==2.4.3
opencv-python==4.13.0.92
packaging==25.0
parso==0.8.5
pexpect==4.9.0
pillow==12.1.1
pip==25.3
platformdirs==4.5.1
prompt-toolkit==3.0.52
psutil==7.2.1
ptyprocess==0.7.0
pure-eval==0.2.3
pyfiglet==1.0.4
pygments==2.19.2
python-dateutil==2.9.0.post0
pyzmq==27.1.0
requests==2.33.1
rich==15.0.0
six==1.17.0
stack-data==0.6.3
textual==8.2.3
textual-image==0.12.0
tkinterdnd2==0.4.3
tornado==6.5.4
traitlets==5.14.3
typing-extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
wcwidth==0.2.14
